

html, body {
	overflow-x:hidden;
}




.ologo a img{

    margin-left: 5%;

    height: 70px;
    width: 70px;

}

.way-containert {
    padding: 10%;
    padding-bottom: 20%;
    margin-top:-5%;
    margin-left: -6%;

    text-align: center;

}

.way-containert h1 {
    font-size: 42px;
    font-family: "Nunito-Bold";
    color: #868686;

}


  
.instah {
    background-image: url(./assets/insta.png) ;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;


}

.instah:hover{
    cursor: pointer;
    background-image: url(./assets/instaf.png) ;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;


}

.emailh {
    background-image: url(./assets/email.svg) ;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;


}

.emailh:hover{
    cursor: pointer;
    background-image: url(./assets/emailf.svg) ;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;


}

.faceh {
    background-image: url(./assets/face.png) ;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;


}

.faceh:hover{
    cursor: pointer;
    background-image: url(./assets/facef.png) ;
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;


}

.rowedd {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin-left: 36.5%;
    margin-right: auto;
    margin-top: -20%;
    
}


.way-containerza {
    margin-top: 5%;
    margin-left:1%;
}

.phoneza {
    
    padding-left: 5.5%;
}




.privacys {
    text-align: center;
}

.privacys h3{
    padding-top: 0%;

    font-family: 'Nunito-Regular';

    text-align: center;
    font-size: 16px;
/* identical to box height */


color: #C4C4C4;

}

.privacys a{

    margin-top: 30%;
    text-decoration: none;
    font-family: 'Nunito-Regular';
    text-align: center;
    font-size: 16px;


color: #C4C4C4;

}


.privacys a:hover{
    cursor: pointer;
    
    margin-top: 30%;

    font-family: 'Nunito-Bold';

    text-align: center;
    font-size: 16px;


color: #12b2eb;

}


.privacys {
    margin-left: -2%;
    margin-top: 2%;
    margin-bottom: 5%;
    


}


.privacys p{
    padding-top: 2%;

    font-family: 'Nunito-Regular';

    text-align: center;
    font-size: 16px;
    color: #C4C4C4;

/* identical to box height */


color: #C4C4C4;

}












/* IPAD AND CHROMEBOOK SIZE SCREENS  */


















    @media  (min-width: 601px) and (max-width: 1200px) {

        body {
            overflow-x:hidden;
        }
        
        
        
        
        
        .ologo a img{
            height: 70px;
            width: 70px;
        
        }
        
        .way-containert {
            padding: 10%;
            padding-bottom: 20%;
            margin-top:-5%;
            margin-left: -6%;
        
            text-align: center;
        
        }
        
        .way-containert h1 {
            font-size: 32px;
            font-family: "Nunito-Bold";
            color: #868686;
        
        }
        
        
        
        
        
        
           .phonez img {
               width:60%;
               padding:10%}
             
       
        
       
        
        .phonez {
            
            padding-left: 5.5%;
        }
        
        
        
        .instah {
            background-image: url(./assets/insta.png) ;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
    
    
        }
    
        .instah:hover{
            cursor: pointer;
            background-image: url(./assets/instaf.png) ;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
    
    
        }
    
        .emailh {
            background-image: url(./assets/email.svg) ;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
    
    
        }
    
        .emailh:hover{
            cursor: pointer;
            background-image: url(./assets/emailf.svg) ;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
    
    
        }
    
        .faceh {
            background-image: url(./assets/face.png) ;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
    
    
        }
    
        .faceh:hover{
            cursor: pointer;
            background-image: url(./assets/facef.png) ;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
    
    
        }
    
    .rowedd {
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        margin-left: 34.75%;
        margin-right: auto;
        margin-top: -10%;
        
    }
    
    
    .way-containerza {
        margin-top: .5%;
    }
    
    .phonez {
        
        padding-left: 5.5%;
    }
    .glogo img {
        height: 55px;
        width: 55px;
        margin-left: 46.750%;
        margin-bottom: 13%;
    
    }
    
    
    .privacys {
        text-align: center;
        color:  #C4C4C4;
    
    }
    
    .privacys p{
        padding-top: 2%;
    
        font-family: 'Nunito-Regular';
    
        text-align: center;
        font-size: 16px;
        color: #C4C4C4;
    
    /* identical to box height */
    
    
    color: #C4C4C4;
    
    }
    
    .privacys a{
    
        margin-top: 30%;
        text-decoration: none;
        font-family: 'Nunito-Regular';
        text-align: center;
        font-size: 16px;
    
    
    color: #C4C4C4;
    
    }
    
    
    .privacys a:hover{
        cursor: pointer;
        
        margin-top: 30%;
    
        font-family: 'Nunito-Bold';
    
        text-align: center;
        font-size: 16px;
    
    
    color: #12b2eb;
    
    }
    
    
    .privacys {
        margin-top: 4%;
        margin-bottom: 5%;
        
    



    }






    }








/* iPhone screens  */





















    @media  (max-width: 600px) {

        .body{
            overflow-x: hidden;
        }
      
        
      
        .home-title img {
        
        width: 100%;
        }



        
        
          .btn { 
            cursor: pointer; 
            color: #ffffff;
            border: white;
            background-color: #ffffff;
            border-radius: 45px;
            width: 9.5em;
            text-align: center;
            height: 25px; 
            width: 120px; 
            color:#C29C4A; 
            font-family: 'Nunito-Bold';
            font-size: 14px;
        
        } 

        .none br {
            display: block;
        }
        .way-containert {
            padding-top: 5%;
            text-align: center;
        
        }
        
        .way-containert h1 {
            font-size: 24px;
            font-family: "Nunito-Bold";
        
        }
        
        .way-containert p {
            font-size: 14px;
            font-family: "Nunito-SemiBold";
            color: #868686;
            
        
        }
        
        .break {
            width:60%;
            margin-left: 20%;
            text-align: center;
        }
        
        
        
        .phonez img {
            width: 100%;
        }

    
   



    }